:root {
  --primary-color: #252324;
  --secondary-color: #72efd9;
  --text-color: #eaf7df;
  --third-color: #ff2c82;
  --default-font-family: "Questrial", sans-serif;
  --border-radius-small: 2px;
  --border-radius-md: 6px;
  --box-shadow-rt: #eaf7df0b 10px 10px 10px;
  --box-shadow-lt: #eaf7df0b -10px -10px 10px;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
  box-sizing: border-box;
}
ul,
li {
  margin: 0 !important;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

nav {
  height: 58px;
  background-color: var(--primary-color);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
nav button {
  background-color: none !important ;
  border: none !important;
  margin-right: 18px;
}

h1 {
  font-size: 80px;
}
h2 {
  text-transform: capitalize;
  font-size: 36px;
  text-align: center;
}

.line-top-c2 {
  border-top: var(--secondary-color) solid 1px;
}

.line-bottom-c3 {
  border-bottom: var(--third-color) solid 1px;
}
.line-top-c3 {
  border-top: var(--third-color) solid 1px;
}

h3 {
  text-transform: capitalize;
  font-size: 32px;
}
.text-color1 {
  color: var(--primary-color);
}
.text-color2 {
  color: var(--secondary-color);
}
.text-color3 {
  color: var(--third-color);
}
p {
  font-size: 16px;
}
footer {
  text-align: center;
  margin: 60px auto 0px;
  padding: 40px 0 0;
  border-top: solid 1px var(--third-color);
}
footer p {
  font-size: 12px;
}

.my-logo {
  width: 66px;
  font-size: 20px;
  padding: 14px 22px;
  align-items: center;
  color: var(--primary-color);
  border-end-end-radius: var(--border-radius-small);
}
.bgcolor-logo1 {
  background-color: var(--secondary-color);
}
.bgcolor-logo2 {
  background-color: var(--third-color);
}

.links-menu {
  z-index: 2;
  background-color: var(--primary-color);
  margin-right: 66px;
  text-align: center;
}
.links-menu a {
  margin-left: 30px;
  font-size: 16px;
  transition: all 150ms ease-in-out;
}
.links-menu a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.link-color-homepage a {
  color: var(--third-color);
}
.link-color-homepage a:hover {
  color: var(--secondary-color);
}

/* Other pages - chenge color menu */

.link-color-other-pages a {
  color: var(--secondary-color);
}
.link-color-other-pages a:hover {
  color: var(--third-color);
}
/* Other pages - ------- */
.page-hero {
  margin-bottom: 130px;
}
.container-outline {
  border-radius: var(--border-radius-small);
}
.border-color1 {
  border: var(--secondary-color) solid 1px;
}
.border-color2 {
  border: var(--third-color) solid 1px;
}
.container-padding-hero {
  padding: 40px;
}

.hero-right {
  border-radius: var(--border-radius-small);
  height: 260px;
  padding-left: 4px;
}
.image-setup {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
}
.button-template {
  border-radius: var(--border-radius-small);
  font-size: 20px;
  padding: 16px;
  display: block;
}
.button-hero {
  margin-right: 132px;
  color: var(--text-color);
  background-color: var(--third-color);
  transition: all 150ms ease-in-out;
}
.button-hero:hover {
  background-color: var(--primary-color);
  border: var(--third-color) solid 1px;
  color: var(--third-color);
}

.square-hero {
  background-color: var(--secondary-color);
  width: 66px;
  height: 66px;
  border-radius: var(--border-radius-small);
}

.square-bottom {
  position: relative;
  left: 0;
  top: 66px;
}
.square-bottom2 {
  position: relative;
  left: 0;
  top: 194px;
}
.square-bottom3 {
  position: relative;
  left: 0;
  top: 262px;
}

.square-top {
  position: relative;
  left: 0;
  top: -66px;
}
.square-btn1 {
  position: relative;
  left: 0;
  top: -66px;

  background: var(--primary-color);
}
.image-border-right {
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}
.image-border-left {
  border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}
.img-projects {
  padding: 0;
}
.text-prj-lf {
  text-align: end;
  margin: 0 130px 54px 82px;
  max-width: 480px;
}
.text-prj-rt {
  max-width: 480px;
  margin: 0 82px 54px 130px;
}

.button-prj {
  display: block;
  border-radius: var(--border-radius-small);
  position: relative;
  left: 0;
  top: 0px;
  font-size: 18px;
  padding: 16px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.button-prj:hover {
  border: var(--secondary-color) solid 1px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.square-prj {
  position: relative;
  bottom: 68px;
  width: 66px;
  height: 66px;
  border-radius: var(--border-radius-small);
}

/* ABOUT PAGE */
.height-header-about {
  height: 133px;
}
ul {
  padding-left: 0.8rem;
  margin-top: 6px;
  list-style-type: square;
}
li {
  margin-bottom: 6px;
}
.section-about {
  margin: 66px 0px 135px;
}

.img-about-page {
  height: 360px;
}
.button-about {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: relative;
  top: 68px;
  transition: all 150ms ease-in-out;
}
.button-about:hover {
  background-color: var(--primary-color);
  border: var(--secondary-color) solid 1px;
  color: var(--secondary-color);
}
.square-other-pg {
  width: 66px;
  height: 66px;
  border-radius: var(--border-radius-small);
}

.container-padding-about {
  padding: 30px 100px;
}

.container-topic-about {
  border-radius: var(--border-radius-small);
  border: var(--secondary-color) solid 1px;
  padding: 40px 30px 30px;
  margin-right: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.name-about {
  align-self: center;
  margin-left: 40px;
  line-height: 0.9;
}

/* work  page */
.heading-work-pg {
  font-size: 50px;
  padding: 30px 0;
  margin-bottom: 0;
}
.gr-projects {
  margin: 74px 0px 70px;
}
.card-right-position {
  position: relative;
  top: 130px;
}
.card-img-work {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 260px;
}

.card-text {
  padding: 10px 0px;
}
.card-text p {
  margin: 0;
}
.card-prj-work h4 {
  padding-bottom: 3px;
  margin: 0;
}
.card-prj-work {
  border: var(--secondary-color) 1px solid;
  transition: all 180ms ease-in-out;
}
.card-prj-work:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow-rt);
  .card-text p {
    color: #25232490;
  }
}
.card-right-position .card-prj-work {
  border: var(--third-color) 1px solid;
}
.card-right-position .card-prj-work:hover {
  box-shadow: var(--box-shadow-lt);
  background-color: var(--third-color);
  color: var(--text-color);
  .card-text p {
    color: #eaf7df90;
  }
}
/* CONTACT PAGE */
.main-contact {
  margin-top: 30px;
}
.main-contact h1 {
  font-size: 42px;
  padding: 16px 0px;
}
.link-contact {
  width: 134px;
  margin: 0 10px;
  transition: all 180ms ease-in-out;
}
.icon-contact {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 44px;
  font-weight: 300;
  color: var(--secondary-color);
}
.link-contact:hover {
  background-color: var(--secondary-color);
  color: var(--third-color);
  .icon-contact {
    color: var(--third-color);
  }
}
form {
  margin: 66px auto 30px;
  width: 440px;
}
form h2 {
  font-size: 30px;
}
.form-style {
  background: var(--primary-color);
  color: var(--text-color);
  margin-top: 16px;
}
.btn-form {
  align-self: self-end;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: var(--secondary-color) solid 1px;
  border-radius: var(--border-radius-small);
  padding: 8px;
  margin-top: 16px;
  transition: all 150ms ease-in-out;
}
.btn-form:hover {
  background-color: var(--third-color);
  border: var(--third-color) solid 1px;
  color: var(--text-color);
}
/* RESPONSIVE  MEDIA */
@media (max-width: 1200px) {
  h1 {
    font-size: 60px;
  }

  .text-prj-lf {
    margin-right: 100px;
  }
  .text-prj-rt {
    margin-left: 100px;
  }
  .card-img-work {
    height: 230px;
  }
  .heading-work-pg {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  .links-menu {
    margin-right: 48px;
  }
  .links-menu a {
    margin-left: 20px;
  }
  .subtitle-hero {
    font-size: 20px;
  }
  .container-padding-hero {
    padding: 34px;
  }
  .button-hero {
    margin-right: 66px;
  }
  .img-projects {
    height: 360px;
  }
  .text-prj-lf {
    margin: 0 80px 30px 36px;
  }
  .text-prj-rt {
    margin: 0 36px 30px 80px;
  }
  .button-prj {
    font-size: 16px;
    padding: 14px 0px 14px;
  }

  .container-topic-about {
    padding: 40px 10px 30px;
    justify-content: space-around;
  }
  .card-img-work {
    height: 200px;
  }
  .heading-work-pg,
  .main-contact h1 {
    font-size: 40px;
  }

  .card-prj-work h4 {
    font-size: 20px;
  }
  .card-text p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  h2,
  form h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }

  .links-menu {
    margin-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .links-menu a {
    margin: 0;
  }

  .links-menu li {
    padding: 5px 0 !important;
    border-bottom: #eaf7dfad 1px solid;
  }

  .page-hero {
    margin-bottom: 100px;
  }
  .button-hero {
    margin-right: 0px;
    margin-top: 70px;
    font-size: 18px;
    padding: 14px;
  }
  .button-prj {
    font-size: 16px;
    padding: 10px 0px 10px;
  }
  .img-projects {
    height: 320px;
  }
  .text-prj-lf {
    margin: 0 62px 22px 30px;
  }
  .text-prj-rt {
    margin: 0 30px 22px 62px;
  }
  .height-header-about {
    height: 100px;
  }
  .name-about {
    align-self: end;
    line-height: 1.3em;
    margin-left: 0;
    text-align: center;
  }
  .img-about-page {
    height: 380px;
  }
  .container-topic-about {
    margin-top: 66px;
  }
  .container-padding-about {
    padding: 40px 40px 40px 70px;
  }
  .container-topic-about li {
    font-size: 14px;
  }
  .heading-work-pg {
    padding: 24px 0;
  }
  .heading-work-pg,
  .main-contact h1 {
    font-size: 36px;
  }
  .gr-projects {
    margin-bottom: 0px;
  }
  .card-right-position {
    top: 0;
    margin-top: 68px;
  }
  .card-right-position .card-prj-work {
    display: flex;
    flex-direction: column-reverse;
  }

  .link-contact {
    width: 112px;
  }
  .icon-contact {
    font-size: 30px;
  }
  form {
    margin: 50px auto 30px;
    width: 450px;
    padding: 0 40px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 32px;
  }

  h3 {
    text-align: center;
  }

  h5 {
    font-size: 18px;
  }

  .container-outline {
    border-end-end-radius: 0;
    border-start-end-radius: 0;
  }
  .button-hero {
    font-size: 16px;
    padding: 12px;
  }
  .text-prj-lf,
  .text-prj-rt {
    text-align: justify;
    margin: 50px 40px 30px;
    text-align: justify;
  }

  .button-prj {
    margin: 0 auto;
    width: 270px;
  }

  footer p {
    font-size: 10px;
  }
  .height-header-about {
    height: 90px;
    margin-bottom: 20px;
  }

  .section-about {
    margin: 14px 0px;
  }

  .container-padding-about {
    padding: 26px 40px;
  }
  .container-topic-about {
    border: none;
    margin-right: 0px;
    margin-top: 0px;
  }
  .container-padding-about h4 {
    font-size: 20px;
    text-align: center;
  }
  .button-about {
    top: 20px;
    font-size: 14px;
    padding: 12px;
  }
  .heading-work-pg {
    font-size: 32px;
    padding: 20px 0;
  }
  .card-prj-work h4 {
    font-size: 18px;
  }

  .card-img-work {
    height: 200px;
  }

  .link-contact {
    margin: 0 8px;
    width: 70px;
  }
  .icon-contact {
    margin: 16px 0;
    font-size: 28px;
  }
  form {
    margin: 50px auto 30px;
    width: unset;
    max-width: 400px;
    padding: 0 30px;
  }
}
